<mat-card class="card">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
      <span>
        Your Diary
      </span>
      <mat-icon color="primary">arrow_forward</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Write something</mat-label>
        <textarea 
          matInput 
          [formControl]="message"
          cdkTextareaAutosize>
        </textarea>
        <div matSuffix fxLayout="row">
          <button mat-icon-button color="primary" 
            (click)="isEmojiPickerVisible = !isEmojiPickerVisible" 
            [attr.aria-label]="'Hide emoji'">
            <mat-icon>{{isEmojiPickerVisible ? 'keyboard' : 'mood'}}</mat-icon>
          </button>
          <button *ngIf="!isNewMessage" mat-icon-button color="primary" (click)="send()">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="isNewMessage" mat-icon-button color="primary" (click)="update()">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </mat-form-field>
    </form>
    <emoji-mart class="emoji-mart" 
      *ngIf="isEmojiPickerVisible" 
      (emojiSelect)="addEmoji($event)" 
      title="Choose your emoji"
      [showPreview]="false">
    </emoji-mart>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end" *ngIf="(messages | async)?.length">
    <button mat-stroked-button color="primary" (click)="clear()">
      Clear All Messages
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="card" *ngIf="(messages | async)?.length">
  <app-message-block
    *ngFor="let message of messages | async"
    [message]="message"
    (editMessage)="onEditMessage($event)"
  ></app-message-block>
</mat-card>
