
::ng-deep {
  .message-block {
    margin-bottom: 15px;
    .time {
      margin-left: 10px;
      color: #3f51b5;
    }
  }
  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
  .mat-card-subtitle {
    font-size: 10px;
    margin-bottom: 5px;
    .mat-icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }
  .message-menu {
    min-height: 30px;
    .mat-menu-item {
      height: 24px;
      line-height: 24px;
    }
  }
}